# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Debug
ipch

# Visual studio files
*.sdf
*.suo
*.opensdf
*.aps
.vs/

# backup files
*.bak
*.VC.db
/.cov/analysisConfigurations.config
/.cov/coverity.config
/.vs/DesignWorld/v15/Solution.VC.db-wal
/.vs/DesignWorld/v15/Solution.VC.db-shm
/.vs/DesignWorld/v15/Solution.VC.db
/.vs/DesignWorld/v15/Browse.VC.db
/.vs/DesignWorld/v15/Browse.VC.opendb
*.user
